@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

:root {
  --primary-color : #FF0073;
  --secondary-color : black;
  --error-color : #530026;
  --light-color : #FFE6F2;
}

.App {
  text-align: center;
  font-family: "ubuntu";
  color : var(--secondary-color);
}
/* Navigation Bar */
.navigation {
  padding : 2rem;
  background-color: var(--light-color);
  text-align: left;
}
.nav-icon {
  font-size: 2rem;
  text-decoration: none;
  color : var(--primary-color);
}
.nav-div-hr {
  border: 1px solid var(--primary-color);
  margin: 0 auto;
  max-width : 90%;

/* Header */}
/* Footer */
.footer {
  display: block;
  padding: 3rem 1rem;
  background-color: var(--light-color);
}
.footer-sitename {
  color : var(--primary-color);
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */