@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

:root {
  --primary-color : #FF86BF;
  --secondary-color : black;
  --error-color : #FF0073;
}

body {
  margin: 0;
  font-family: "ubuntu";
  color : var(--secondary-color);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* uploadButton */
.uploadButton input[type=file]::file-selector-button {
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  color:var(--error-color);
  border-radius : 50%;
}

label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  margin: 10px auto;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: var(--primary-color);
  color: white;
}



/* progressbar style */
.progressbar {
  height:3px;
  background-color: var(--primary-color);
  margin-top: 20px;
}

/* Image Grid */
.imagegrid {
  max-width: 80%;
  margin : 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.image-wrap {
  overflow: hidden;
  height: 0px;
  padding : 50% 0;
  /* padding controls height, willa always be square regardless of width */
  position : relative;
  opacity : 0.8;
}
.image-wrap img {
  min-height: 100%;
  min-width: 100%;
  max-width: 150%;
  position : absolute;
  top:0;
  left:0;
}
/* Modal Style */
.modal-bd {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);
}
.modal-bd img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}
.footer {
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */