@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

:root {
  --primary-color : #FF86BF;
  --secondary-color : black;
  --error-color : #FF0073;
}

body {
  margin: 0;
  font-family: "ubuntu";
  color : var(--secondary-color);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
